@media screen and (max-width:1200px){
.hero-image{
   max-width:350px ;
   width: 100%;
}
.catagory-box{
    flex-wrap: wrap;
}
}

@media screen and (max-width:992px){
    #hero-container {
   flex-wrap: wrap;
   flex-direction: row-reverse;
   text-align: center;
   justify-content: center;
}  
.hero-image{
   max-width:402px ;
   width: 100%;
} 
.catagory-box{
    flex-wrap: wrap;
}
.product-box {
    flex-direction: column;
    align-items: center;
}

#news-container{
    padding: 80px;

}

@media screen and (max-width:640px){
    .container{
    width: 98%;
}
#hero-container{
    padding: 10px;
}
#hero-container img{
    max-width: 290px;
}
.catagory{
    flex-direction: column;
}
.product-box {
    flex-direction: column;
}

}
 #news-container form{
 flex-direction: column;
 align-items: center;
} 
}
